name: go
on:
  push:
    paths:
    - 'src/bosh-docker-cpi/**'
    - '.github/**'
  pull_request:
    paths:
    - 'src/bosh-docker-cpi/**'
    - '.github/**'
jobs:
  lint: # <- name
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version-file: src/bosh-docker-cpi/go.mod
    - run: scripts/go-generate
    - uses: golangci/golangci-lint-action@v9
      with:
        working-directory: src/bosh-docker-cpi/

  test-unit: # <- name
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version-file: src/bosh-docker-cpi/go.mod
    - run: scripts/test-unit
